/* Write your global styles here, in PostCSS syntax */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
	margin: 0;
	@apply bg-gray-800 text-gray-300;
}

body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	min-height: -webkit-fill-available;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(50% 50% at 50% 50%, var(--pure-white) 0%, rgba(255, 255, 255, 0) 100%);
	opacity: 0.05;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

input,
select {
	@apply text-gray-800;
}

select {
	padding: 8px;
}

button {
	box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.1);
	@apply bg-blue-500 text-white tracking-widest font-medium uppercase;
	@apply active:shadow-none active:from-blue-700 active:to-blue-900;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
